<div class="header-menu" clickOutside (clickOutside)="clickedOutsideProfile()">

    <button id="buttonProfile" (click)="togglerProfile()">
        <i class="fa fa-user"></i>
    </button>

    <div class="toggler" id="togglerProfile" *ngIf="isProfileOpened">

        <div class="menu-opened">

            <div class="log-out">
                <button type="button" class="btn btn-light" (click)="logout()">
                    <i class="fa fa-sign-out-alt"></i> 
                    Log Out
                </button>
            </div>

        </div>

    </div>

</div>
