<div class="header">

    <div class="header-left">
        <p class="title">Kite</p>
    </div>

    <div class="header-right">

        <button id="buttonOptions" (click)="togglerMenu()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="toggler" *ngIf="isMenuOpened">

            <div class="menu-opened">

                <div class="menu-item" (click)="togglerMobileAdd()">
                    <img src="./assets/plus.png" alt="Plus Logo" class="image">
                    Add Spot
                </div>

                <div class="menu-item" (click)="togglerMobileFavourite()">
                    <img src="./assets/favourite.png" alt="Favourite Logo" class="image">
                    Favourite Spots
                </div>

                <div class="menu-item" (click)="logout()">
                    <img src="./assets/profile.png" alt="Profile Logo" class="image">
                    Log Out
                </div>

            </div>

            <button type="cancel" class="btn btn-outline-danger" (click)= "cancel()">Cancel</button>

        </div>

        <div *ngIf="isAddOpened">

            <app-mobile-add-spot></app-mobile-add-spot>

        </div>

        <div *ngIf="isMobileFavouriteOpened">

            <app-mobile-favourite></app-mobile-favourite>

        </div>

    </div>
    
</div>