<div class="toggler" *ngIf="isAddOpened">
    
    <form #addSpotForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Name:</label>
            <br>
            <input type="text" class="form-control" name="name" [(ngModel)]="formModel.name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>
            
        <div class="form-group">
            <label>Country:</label>
            <br>
            <input type="text" class="form-control" name="country" id="inputCountry" [(ngModel)]="formModel.country" #country="ngModel" [class.is-invalid]="country.invalid && country.touched" required>
            <small class="text-danger" [class.d-none]="country.valid || country.untouched">Country is required</small>
        </div>
            
        <div class="form-group">
            <label>Wind Probability:</label>
            <br>
            <input type="number" class="form-control" id="inputWind" name="probability" [(ngModel)]="formModel.probability" #probability="ngModel" [class.is-invalid]="probability.invalid && probability.touched" pattern="^[1-9]{1,2}$" required>
            <div *ngIf="probability.errors && (probability.invalid || probability.touched)">
                <small class="text-danger" *ngIf="probability.errors['required']">Probability is required</small>
                <small class="text-danger" *ngIf="probability.errors['pattern']">Probability must have one or two digits.</small>
            </div>
        </div>
            
        <div class="form-group">
            <label>Latitude:</label>
            <br>
            <input type="number" class="form-control" id="inputLatitude" name="latitude" [(ngModel)]="formModel.latitude" #latitude="ngModel" [class.is-invalid]="latitude.invalid && latitude.touched" pattern="^\d{1,2}.\d{4}$" required>
            <div *ngIf="latitude.errors && (latitude.invalid || latitude.touched)">
                <small class="text-danger" *ngIf="latitude.errors['required']">Latitude is required</small>
                <small class="text-danger" *ngIf="latitude.errors['pattern']">Latitude must follow the path: eg.: 53.5545</small>
            </div>
        </div>
            
        <div class="form-group">
            <label>Longitude:</label>
            <br>
            <input type="number" class="form-control" id="inputLongitude" name="longitude" [(ngModel)]="formModel.longitude" #longitude="ngModel" [class.is-invalid]="longitude.invalid && longitude.touched" pattern="^(\+|-)?\d{1,2}.\d{4}$" required>
            <div *ngIf="longitude.errors && (longitude.invalid || longitude.touched)">
                <small class="text-danger" *ngIf="longitude.errors['required']">Longitude is required</small>
                <small class="text-danger" *ngIf="longitude.errors['pattern']">Longitude must follow the path: eg.: (+/-)103.5545</small>
            </div>
        </div>
            
        <div class="form-group">
            <label>When to go:</label>
            <br>
            <select class="form-control" id="selectMonths" name="month" [(ngModel)]="formModel.month"  #month="ngModel" [class.is-invalid]="monthHasError && month.touched" (blur)="validateMonth(month.value)" (change)="validateMonth(month.value)">
                <option value="default">Select month</option>
                <option *ngFor="let month of months">{{ month }}</option>
            </select>
            <small class="text-danger" [class.d-none]="!monthHasError || month.untouched">Please choose a month</small>
        </div>
            
        <div class="action">
            <button type="cancel" class="btn btn-outline-danger" (click)= "cancel()">Cancel</button>
            <button [disabled]="addSpotForm.form.invalid || monthHasError" type="submit" class="btn btn-outline-primary">Confirm</button>
        </div>
        
    </form>

</div>
